@import "node_modules/bootstrap/scss/functions";

$primary: #00001A;
$secondary: #6c757d;
$warning: #E8A656;
$danger: #F05C51;


@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";